* {
    font-family: 'Inter', sans-serif;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #efefef;
    overflow-x: hidden; /* Clips any content that accidentally spills over the side */
    margin: 0;
    padding: 0;
}
 

.brand{
    font-size:25px;
    font-weight:800;
    margin-bottom:6px;
    margin-top:-10px;
}

.nav{
    margin-top:18px;
    display:flex;
    flex-direction:column;
    gap:8px}

.nav button{
    background:transparent;
    border:none;
    color:inherit;
    text-align:left;
    padding:15px;
    border-radius:8px;
    cursor:pointer;
    font-weight:700;
    font-size:17px;
    display:flex;
    align-items:center;
    transition: 0.3s ease;
}

.nav button i{
    margin-right:8px;
}

.nav button:hover{
    background:rgba(255, 255, 255, 0.279);
    transform: translateY(-5px) scale(1.03);

}

.nav button.active{
    background:rgba(255, 255, 255, 0.279);
    transform: translateY(-5px) scale(1.03);
}

.sidebar .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .logo h1{
    color: #f5f5f5 ;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Oleo Script Swash Caps', system-ui;
    transition: 0.3s ease;
    margin-top: 5px;
}

.sidebar .logo h1:hover{
    transform: translateY(-5px) scale(1.02);
}

.sidebar .logo a{
    text-decoration: none;
}

.sidebar {
    width: 20vw;
    background: #EB6753;
    color: #fff;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-shrink: 0;
    height: 94vh;
    position: fixed;         /* fix it to the left */
    top: 0;
    left: 0;
    transition: transform 0.3s ease; /* smooth slide */
}

.sidebar.closed {
    transform: translateX(-100%); /* hide sidebar */
}


.open-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;   
    top: 20px;
    left: 20px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.open-btn.hidden {
  display: none;     /* hide when sidebar is open */
}

.open-btn img {
    display: block;
    margin-left: 25px;
    margin-top: 25px;
}

.open-btn:hover {
    transform: translateY(-5px) scale(1.03);
}

.close-bar{
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: -15px;
}

.close-bar:hover {
    transform: translateY(-5px) scale(1.03);
}